name: My custom workflow manual migration for project-2

on:
  push:
    branches:
      - v5-master
  pull_request:
    branches:
      - v5-master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setting up JDK 8
        uses: actions/setup-java@v2
        with:
            java-version: '8'
            architecture: 'x64'
            distribution: 'adopt'

      - name: Setting the timezone to Asia/Shanghai
        run: |
          sudo ln -sf /usr/share/zoneinfo/Asia/Shanghai /etc/localtime
          echo "Successfully updated timezone to Asia/Shanghai timezone" | sudo tee /etc/timezone

      - name: setting up dependencies and build
        run: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

      - name: Generate Cobertura coverage report
        run: mvn cobertura:cobertura -Dcobertura.report.format=html -B -V

      - name: uploading code coverage data to the Codecov service
        run: bash <(curl -s https://codecov.io/bash)

